# dependencies
node_modules/

# next.js
.next/
build/
dist/

# env
.env*.local
.env

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# os
.DS_Store
Thumbs.db

# vercel
.vercel

# testing
coverage/

# typescript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/
.idea/

# misc
*.tmp
.cache/

# scripts logs
scripts/logs/
